<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            margin: 0;
        }

        video {
            width: 100%;
            height: 100%;
        }
    </style>
</head>

<body>
    <video id="webcamVideo" autoplay></video>
    <script>
        navigator.mediaDevices.getUserMedia({ video: true })
            .then(function (stream) {
                var video = document.getElementById("webcamVideo");
                video.srcObject = stream;
                video.onloadedmetadata = function (e) {
                    video.play();
                };
            })
            .catch(function (error) {
                console.log(error.name + ": " + error.message);
            });
    </script>
</body>

</html>