<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href=".\..\static\styles.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- Title of the website -->
    <title>MotionAlert</title>

</head>

<body>
    <!-- Creating navigation bar -->
    <nav>
        <!-- navigation bar elements -->
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
        <!-- line below navigation bar -->
        <hr class="a">
    </nav>
    <!-- Main headings in the website -->
    <div class="title-text-center">
        <h1>MotionAlert</h1>
        <h2>Detection in just few clicks!</h2>
    </div>
    <div class="upload-list">
        <div class="dropdown">
            <!-- created a button named upload file -->
            <button onclick="myFunction()" class="dropbtn">Upload File</button>

            <!-- Dropdown menu for Upload file -->
            <div id="myDropdown" class="dropdown-content">

                <!-- dropdown menu options along with their icons are added below-->
                <a href="#" class="from-device-option">
                    <i class="fas fa-desktop"></i>
                    From Device
                </a>
                <a href="#" class="google-drive-option">
                    <i class="fab fa-google-drive"></i>
                    Google Drive
                </a>
                <a href="#" class="drop-box-option">
                    <i class="fab fa-dropbox"></i>
                    Dropbox
                </a>
            </div>
        </div>
        <!-- OR in the center of buttons -->
        <h3>OR</h3>

        <!-- created a button named Use Webcam -->
        <div class="dropdown">
            <button class="dropbtn" id="webcamBtn">Use Webcam</button>
        </div>
    </div>

    <div class="icon-list"> <!-- icons and specialities of website -->
        <div class="icon-item">
            <!-- globe icon -->
            <i class="fas fa-globe"></i>

            <!-- heading below globe icon -->
            <span class="heading">Online Tool</span>

            <!-- texts below globe icon -->
            <span class="subheading">The motion detector is completely online </span>
            <span class="subheading">which means that you don't have to download</span>
            <span class="subheading">and install anything to your device.</span>
        </div>

        <div class="icon-item">
            <!-- star icon -->
            <i class="fas fa-star"></i>

            <!-- heading below star icon -->
            <span class="heading">Simple Interface</span>

            <!-- texts below star icon -->
            <span class="subheading">Don't worry, the tool is really intuitive,</span>
            <span class="subheading">you don't even need to read a manual to use it!</span>
        </div>
        <div class="icon-item">
            <!-- shield icon -->
            <i class="fas fa-shield-alt"></i>

            <!-- heading below shield icon -->
            <span class="heading">Secure Encryption</span>

            <!--texts below shield icon -->
            <span class="subheading">You're the only one who has access to your </span>
            <span class="subheading"> files because all the communications are </span>
            <span class="subheading">performed via secure channels.</span>
        </div>
    </div>
    <!-- line -->
    <hr class="down">

    <footer>
        <!-- list of elements below line -->
        <ul>
            <li item="bottom"><a href="#">Privacy Policy</a></li>
            <li item="bottom"><a href="#">Terms of Service</a></li>
            <li item="bottom"><a href="#">Copyright
                    © 2023 MotionAlert. All Rights Reserved.</a></li>
        </ul>
        </div>
    </footer>
    <script>

        // function to appear dropdown menu when we click on Upload File//
        document.querySelector('.dropbtn').addEventListener('click', function () {
            var dropdownContent = document.querySelector('.dropdown-content');
            var computedStyle = window.getComputedStyle(dropdownContent);
            if (computedStyle.getPropertyValue('display') === 'none') {
                dropdownContent.style.display = 'block';
            } else {
                dropdownContent.style.display = 'none';
            }
        });

        //function for browsing file when we click on from device//
        document.querySelector('.from-device-option').addEventListener('click', function () {
            var fileInput = document.createElement('input');
            fileInput.type = 'file';
            fileInput.addEventListener('change', function (e) {
                var file = e.target.files[0];
                var filePath = URL.createObjectURL(file);
                console.log(filePath);

            });
            fileInput.click();
        });

        //function to open webcam after clicking on use webcam//
        document.querySelector('#webcamBtn').addEventListener('click', function () {
            var newWindow = window.open('webcam.html', 'Webcam', 'width=800,height=600');
            if (newWindow) {
                newWindow.focus();
            } else {
                console.log('Failed to open the webcam window');
            }
        });

        // Fetching from server /data
        fetch("http://localhost:5000/data")
            .then(function (response) {
                if (response.ok) {
                    return response.json();
                }
                throw new Error("Network response was not ok.");
            })
            .then(function (data) {
                console.log(data);
                // Process the data received from the server
            })
            .catch(function (error) {
                console.log("Error:", error.message);
            });

    </script>







</body>

</html>