nav {

    padding: 10px;
    margin-top: -8px;
    margin-left: -8px;
    margin-right: -8px;
    margin-bottom: 0.5em;
    height: 45px;
    font-weight: 10;

    background-image: url("https://cdn.wallpapersafari.com/93/79/0PxyBf.jpg");

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    font-weight: 10;
    font-size: large;
}

a {
    color: rgb(13, 18, 43);
    text-decoration: none;
    padding: 10px 20px;
    font-weight: 10;
    width: 130px;
}

a:hover {
    color: white;
    background-color: rgb(13, 18, 43);
    width: 130px;
    transition: width 0.3s ease;
}

h1 {
    text-align: center;
    margin-top: 100px;
    font-size: 60px;
    color: rgb(13, 18, 43);
    font-family: sans-serif;
}

h2 {
    text-align: center;
    font-size: 25px;
    font-family: sans-serif;
    font-weight: 1;
    margin-bottom: 50px;
}

body {
    background-color: rgb(150, 154, 174);
}

.a {

    margin-top: -10px;
    box-shadow: 250px;
}

.down {
    margin-top: 25px;
}


body {
    margin: 0;
    font-family: Inter, sans-serif;
    font-size: .875rem;
    font-weight: 400;
    line-height: 3;
    background: #262628;
    text-align: left;

    background-image: url("https://cdn.wallpapersafari.com/93/79/0PxyBf.jpg");
}

.title-text-center {
    line-height: 20px;
}

.background {
    background-color: rgb(13, 18, 43);
}

.bottomnav {
    text-align: right;
}

.upload-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.dropdown {
    position: relative;
    display: inline-block;


}

.dropbtn {
    background-color: rgb(13, 18, 43);
    color: #f5f0f0;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    align-self: center;
    align-content: center;
    align-items: center;

}

.dropdown-content {
    display: none;
    position: fixed;
    background-color: #f8f8f8;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-left: -25px;
}

.dropdown-content a {
    color: rgb(13, 18, 43);
    padding: 12px 16px;
    text-decoration: none;
    display: inherit;
}

.dropdown-content a:hover {
    background-color: rgb(142, 156, 227);
}



.dropdown:hover button ,.dropbtn:focus button {
    background-color:rgb(13,18,43);
    color: white;
} 

i {
    color: rgb(13, 18, 43);
}

.icon-list {
    display: flex;
    justify-content: center;
    gap: 15em;
    margin-top: 5em;
    color: rgb(13, 18, 43)
}

.icon-list .icon-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.icon-list .icon-item .fas {
    font-size: 3em;
}

.icon-list .icon-item span {
    text-transform: capitalize;
}

span {
    line-height: 2;
}

.subheading {
    color: rgb(79, 79, 79);
    text-align: center;
}

.heading {
    font-weight: bold;
}

hr .down {
    margin-top: 5em;
    gap: 2em;
}

footer {

    color: rgb(13, 18, 43);
    text-align: center;
    padding: 10px;
}

footer a {
    color: rgb(13, 18, 43);
    text-decoration: none;
    font-size: small;
}

footer a:hover {
    color: #fff;
}

hr .up {
    margin-top: 100em;
}

button.dropbtn {
    height: fit-content;

}

.buttons {
    margin-left: 30%;
}